QFrame#toolbar {
    background: #669df6;    
    border-radius: 13px;
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
}

QFrame#toolbar QPushButton {
    border: 0px;
    height: 30px;
}

QFrame#button_group {
    background: #5B8DDD;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

QPushButton#play {
    background: transparent;
    border-radius: 0px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    padding-right: 5px;
    padding-left: 13px;
}

QPushButton#pause {
    background: transparent;
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

QPushButton#stop {
    background: transparent;
    border-radius: 0px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    padding-left: 5px;
    padding-right: 13px;
}

QPushButton#menu, QPushButton#settings, QPushButton#menu:hover, QPushButton#settings:hover {
    background: #669df6;
}

QLineEdit#task_set_name {
    background: white;
    border-radius: 0px;
}

QPushButton#add_task_btn {
    background: #669df6;
    border-radius: 0px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

QFrame#options_frame, QScrollArea {
    border: 0px;
}

QComboBox {
    background: white;
    border-radius: 0px;
}

QGroupBox:flat {
    margin-top: 10px;
    border-top: 1px solid #dadce0;
    border-radius: 0px;
}

ScientificSpinBox, QSpinBox {
    background: white;
    border-radius: 0px;
}